.see-results {
    padding: 100px 0;
    background: #F6FAFB;
}

.tabs-wrapper {
    @include flex;

    .see-results-content {
        width: 100%;
        max-width: 400px;
        @include align-self(center);
        text-align: center;

        h3 {
            font-weight: bold;
            @include font-size(40px);
            line-height: 42px;
            margin-bottom: 40px;
            font-family: $roboto-slab;
            padding: 0 15px;
        }

        p {
            @include font-size(16px);
            line-height: 30px;
        }

        .react-tabs__tab-list {
            border: none;
            margin-top: 50px;
        }

        .react-tabs__tab {
            font-weight: 500;
            @include font-size(13px);
            line-height: 26px;
            border: 1px solid $body_color;
            border-radius: 0;
            text-transform: uppercase;
            padding: 6px;
            min-width: 88px;
            text-align: center;

            &:not(:last-child) {
                margin-right: 8px;
            }

            &--selected {
                color: $white;

                &.react-tabs__tab--green {
                    background: $green;
                    border: 1px solid $green;

                }

                &.react-tabs__tab--blue {
                    background: $blue;
                    border: 1px solid $blue;

                }

                &.react-tabs__tab--orange {
                    background: $orange;
                    border: 1px solid $orange;

                }

                &.react-tabs__tab--yellow {
                    background: $yellow;
                    color: $body_color;
                    border: 1px solid $yellow;

                }
            }
        }

        .before-after-tabs {
            width: 100%;
            margin-left: 20px;
        }
    }
}

.before-after-tabs {
    width: 100%;
    .before-after-showcase {
        .react-tabs__tab-list {
            border: none;
            margin-bottom: 30px;
            @include flex;
            @include justify-content(center);

            .react-tabs__tab {
                border:none;
                width: 100%;
                max-width: 206px;
                text-align: center;
                padding: 9px 15px;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                background: #E6ECED;

                &:first-child {
                    border-radius: 25px 0 0 25px;
                }

                &:last-child {
                    border-radius: 0 25px 25px 0;
                }
            }
        }

        .showcase-image {
            max-width: 568px;
            max-height: 568px;
            margin: 0 auto;
            border: 10px solid $green;
            border-radius: 50%;
            box-shadow: inset 0 0 3px $green;
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                border: 10px solid $green_opac;
                position: absolute;
                border-radius: 50%;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        &.colored-green {
            .react-tabs__tab-list {
                .react-tabs__tab {

                    &--selected {
                        background: $green;
                        color: $white;
                    }
                }
            }

            .showcase-image {
                border: 10px solid $green;
                &::before {
                    border: 10px solid $green_opac;
                }
            }
        }

        &.colored-blue {
            .react-tabs__tab-list {
                .react-tabs__tab {
                    &--selected {
                        background: $blue;
                        color: $white;
                    }
                }
            }

            .showcase-image {
                border: 10px solid $blue;
                &::before {
                    border: 10px solid $blue_opac;
                }
            }
        }

        &.colored-orange {
            .react-tabs__tab-list {
                .react-tabs__tab {
                    &--selected {
                        background: $orange;
                        color: $white;
                    }
                }
            }

            .showcase-image {
                border: 10px solid $orange;
                &::before {
                    border: 10px solid $orange_opac;
                }
            }
        }

        &.colored-yellow {
            .react-tabs__tab-list {
                .react-tabs__tab {
                    &--selected {
                        background: $yellow;
                        color: $body_color;
                    }
                }
            }

            .showcase-image {
                border: 10px solid $yellow;
                &::before {
                    border: 10px solid $yellow_opac;
                }
            }
        }
    }
}