// Flexbox display
@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    // display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flexBox($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
    -moz-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
    -webkit-flex-grow: $grow;
    -moz-flex-grow: $grow;
    -ms-flex-grow: $grow;
    flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
    -moz-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
    -webkit-flex-basis: $width;
    -moz-flex-basis: $width;
    -ms-flex-basis: $width;
    flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
    -webkit-align-content: $align;
    -moz-align-content: $align;
    -ms-align-content: $align;
    align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
    -webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
    align-self: $align;
}


.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-table {
    display: table;
}

.d-table-row {
    display: table-row;
}

.d-table-cell {
    display: table-cell;
}

.d-flex {
    display: -ms-flexbox;
    display: flex;
}



.flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.flex-fill {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-grow-0 {
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.flex-grow-1 {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-shrink-0 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.flex-shrink-1 {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.justify-content-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.align-items-start {
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-items-end {
    -ms-flex-align: end;
    align-items: flex-end;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}

.align-items-baseline {
    -ms-flex-align: baseline;
    align-items: baseline;
}

.align-items-stretch {
    -ms-flex-align: stretch;
    align-items: stretch;
}

.align-content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.align-content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.align-content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.align-content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.align-content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.align-self-auto {
    -ms-flex-item-align: auto;
    align-self: auto;
}

.align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
}

.align-self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

@media (min-width: 576px) {
    .flex-sm-row {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .flex-sm-column {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flex-sm-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .flex-sm-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .flex-sm-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flex-sm-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .flex-sm-fill {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .flex-sm-grow-0 {
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

    .flex-sm-grow-1 {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .flex-sm-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .flex-sm-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

    .justify-content-sm-start {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .justify-content-sm-end {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .justify-content-sm-center {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .justify-content-sm-between {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .justify-content-sm-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .align-items-sm-start {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .align-items-sm-end {
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .align-items-sm-center {
        -ms-flex-align: center;
        align-items: center;
    }

    .align-items-sm-baseline {
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    .align-items-sm-stretch {
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .align-content-sm-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    .align-content-sm-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }

    .align-content-sm-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .align-content-sm-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }

    .align-content-sm-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }

    .align-content-sm-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }

    .align-self-sm-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .align-self-sm-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .align-self-sm-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .align-self-sm-center {
        -ms-flex-item-align: center;
        align-self: center;
    }

    .align-self-sm-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }

    .align-self-sm-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .flex-md-column {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flex-md-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .flex-md-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .flex-md-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flex-md-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .flex-md-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .flex-md-fill {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .flex-md-grow-0 {
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

    .flex-md-grow-1 {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .flex-md-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .flex-md-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

    .justify-content-md-start {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .justify-content-md-end {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .justify-content-md-center {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .justify-content-md-between {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .justify-content-md-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .align-items-md-start {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .align-items-md-end {
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .align-items-md-center {
        -ms-flex-align: center;
        align-items: center;
    }

    .align-items-md-baseline {
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    .align-items-md-stretch {
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .align-content-md-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    .align-content-md-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }

    .align-content-md-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .align-content-md-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }

    .align-content-md-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }

    .align-content-md-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }

    .align-self-md-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .align-self-md-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .align-self-md-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .align-self-md-center {
        -ms-flex-item-align: center;
        align-self: center;
    }

    .align-self-md-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }

    .align-self-md-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .flex-lg-column {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flex-lg-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .flex-lg-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .flex-lg-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flex-lg-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .flex-lg-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .flex-lg-fill {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .flex-lg-grow-0 {
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

    .flex-lg-grow-1 {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .flex-lg-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .flex-lg-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

    .justify-content-lg-start {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .justify-content-lg-end {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .justify-content-lg-center {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .justify-content-lg-between {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .justify-content-lg-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .align-items-lg-start {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .align-items-lg-end {
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .align-items-lg-center {
        -ms-flex-align: center;
        align-items: center;
    }

    .align-items-lg-baseline {
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    .align-items-lg-stretch {
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .align-content-lg-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    .align-content-lg-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }

    .align-content-lg-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .align-content-lg-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }

    .align-content-lg-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }

    .align-content-lg-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }

    .align-self-lg-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .align-self-lg-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .align-self-lg-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .align-self-lg-center {
        -ms-flex-item-align: center;
        align-self: center;
    }

    .align-self-lg-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }

    .align-self-lg-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .flex-xl-column {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flex-xl-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .flex-xl-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .flex-xl-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flex-xl-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .flex-xl-fill {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .flex-xl-grow-0 {
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

    .flex-xl-grow-1 {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .flex-xl-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .flex-xl-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

    .justify-content-xl-start {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .justify-content-xl-end {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .justify-content-xl-center {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .justify-content-xl-between {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .justify-content-xl-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .align-items-xl-start {
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .align-items-xl-end {
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .align-items-xl-center {
        -ms-flex-align: center;
        align-items: center;
    }

    .align-items-xl-baseline {
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    .align-items-xl-stretch {
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .align-content-xl-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    .align-content-xl-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }

    .align-content-xl-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .align-content-xl-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }

    .align-content-xl-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }

    .align-content-xl-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }

    .align-self-xl-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .align-self-xl-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .align-self-xl-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .align-self-xl-center {
        -ms-flex-item-align: center;
        align-self: center;
    }

    .align-self-xl-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }

    .align-self-xl-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}